@import "header.css";
@import "homepage.css";
@import "footer.css";

html,
body {
  width: 100%;
  overflow-x: hidden;
}

/* -----------------------------  Global Fonts  ----------------------------- */
@font-face {
  font-family: "cinzel-regular";
  font-style: normal;
  font-weight: 400;
  src:
    local("cinzel-regular"),
    local("cinzel-regular"),
    url("cinzel-regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-regular";
  font-style: normal;
  font-weight: 400;
  src:
    local("roboto-regular"),
    local("roboto-regular"),
    url("roboto-regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-light";
  font-style: normal;
  font-weight: 200;
  src:
    local("roboto-light"),
    local("roboto-light"),
    url("roboto-light.ttf") format("truetype");
}

/* -----------------------------  Base Typography & Global Element Styles  ----------------------------- */
h1,
h2,
h3 {
  font-family: "cinzel-regular";
  text-transform: lowercase;
  font-size: 31px;
  color: #663200;
  margin-top: 10px !important;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
p,
a,
li,
.sevas-more button {
  font-family: "roboto-light";
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #000;
  text-decoration: none;
}

/* -----------------------------  Responsive Media Queries for Global Typography  ----------------------------- */
@media (max-width: 1440px) {
  h1,
  h2 {
    font-size: 22px;
  }
  h2 {
    font-size: 25px;
  }
  p,
  a,
  li,
  .sevas-more button {
    font-size: 17px;
  }
}

@media (max-width: 1366px) {
  h1,
  h2 {
    font-size: 21px;
  }
  h2 {
    font-size: 25px;
  }
  p,
  a,
  li,
  .sevas-more button {
    font-size: 17px;
  }
}

@media (max-width: 1200px) {
  h1,
  h2 {
    font-size: 15px;
  }
  p,
  a,
  li,
  .calender button,
  .fa-calendar-alt,
  .location span,
  .sevas-more button {
    font-size: 15px;
    letter-spacing: 0;
  }
}

@media (max-width: 1024px) {
  h1,
  h2 {
    font-size: 17px;
  }
  p,
  a,
  li,
  .slide-content span,
  .calender button,
  .fa-calendar-alt,
  .location span,
  .sevas-more button {
    font-size: 13px;
  }
  #arrow:before {
    width: 8px;
    height: 8px;
  }
  #arrow:after {
    width: 12px;
  }
}

@media (max-width: 991px) {
  h1,
  h2 {
    font-size: 14px;
  }
  h2 {
    font-size: 20px;
  }
  p,
  a,
  li,
  .location span,
  .calender button,
  .slide-content span,
  .sevas-more button,
  .rights p,
  .powered a,
  .powered p {
    font-size: 13px;
  }
  .arrow-1 {
    top: -40px;
  }
}

@media (max-width: 767px) {
  h1,
  h2 {
    font-size: 25px;
  }
  h2 {
    font-size: 25px;
    text-align: center;
  }
  p,
  a,
  li,
  .calender button,
  .fa-calendar-alt,
  .slide-content span,
  .location span {
    font-size: 17px;
  }
}

@media (max-width: 575px) {
  h1,
  h2 {
    font-size: 22px;
  }
  h2 {
    font-size: 22px;
    text-align: center;
  }
  p,
  a,
  li,
  .calender button,
  .fa-calendar-alt,
  .slide-content span,
  .location span {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  h1,
  h2 {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
    text-align: center;
  }
  p,
  a,
  li,
  .calender button,
  .fa-calendar-alt,
  .slide-content span,
  .location span {
    font-size: 15px;
  }
}

@media (max-width: 360px) {
  h1,
  h2 {
    font-size: 18px;
  }
  h2 {
    font-size: 18px;
    text-align: center;
  }
  p,
  a,
  li,
  .calender button,
  .fa-calendar-alt,
  .slide-content span,
  .location span {
    font-size: 14px;
  }
}

/* -----------------------------  Breadcrumbs Section  ----------------------------- */
.brdcrmb nav {
  float: inline-start;
  margin-left: 220px;
}

@media (max-width: 1440px) {
  .brdcrmb nav {
    margin-left: 190px;
  }
}

@media (max-width: 1366px) {
  .brdcrmb nav {
    margin-left: 190px;
  }
}

@media (max-width: 1200px) {
  .brdcrmb nav {
    margin-left: 160px;
  }
}

@media (max-width: 1024px) {
  .brdcrmb nav {
    margin-left: 160px;
  }
}

@media (max-width: 991px) {
  .brdcrmb nav {
    margin-left: 120px;
  }
}

@media (max-width: 767px) {
  .brdcrmb nav {
    margin-left: 0px;
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .brdcrmb nav {
    margin-left: 0px;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .brdcrmb nav {
    margin-left: 0px;
    margin-top: 10px;
  }
}

@media (max-width: 360px) {
  .brdcrmb nav {
    margin-left: 0px;
    margin-top: 10px;
  }
}

/* -----------------------------  Inner Banner Section  ----------------------------- */
.inner-banner {
  position: relative;
  top: -350px;
  height: 160px;
}
.inner-banner img {
  border-radius: 10px;
  border: 5px solid #fff;
  box-shadow: 0 0 10px 4px rgb(0 0 0 / 39%);
}
.inner-banner #carouselExampleAutoplaying1 {
  max-width: 100% !important;
}

@media (max-width: 1440px) {
  .inner-banner {
    top: -280px;
  }
}

@media (max-width: 1366px) {
  .inner-banner {
    top: -210px;
    height: 230px;
  }
}

@media (max-width: 1024px) {
  .inner-banner {
    top: -190px;
    height: 180px;
  }
}

@media (max-width: 991px) {
  .inner-banner {
    top: -280px;
    height: 40px;
  }
}

@media (max-width: 767px) {
  .inner-banner-bg {
    display: none;
  }
  .inner-banner {
    top: 0;
    height: auto;
  }
  .inner-banner img {
    box-shadow: 0 0 7px 1px rgb(0 0 0 / 39%);
    width: 100%;
  }
}

@media (max-width: 575px) {
}

@media (max-width: 480px) {
}

@media (max-width: 360px) {
}

/* -----------------------------  Global Component: Animated CTA Button Style  ----------------------------- */
.button {
  display: inline-block;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #663200;
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #8e6944;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}

/* ==========================================================================
   Inner Pages Specific Layout & Components
   ========================================================================== */

/* -----------------------------  Inner Book Section  ----------------------------- */
.inner-book-txt h3 {
  font-family: "cinzel-regular";
  text-transform: lowercase;
  color: #663200;
  font-size: 25px;
  margin: 10px 0;
}
.inner-book {
  background: url("icon-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 50px;
  text-align: center;
}
.inner-book img {
  animation: anim 3s infinite linear;
}
.inner-book-txt {
  text-align: center;
  padding-bottom: 80px;
}

@media (max-width: 1440px) {
  .inner-book-txt h3 {
    font-size: 22px;
  }
}

@media (max-width: 1366px) {
  .inner-book-txt h3 {
    font-size: 22px;
  }
}

@media (max-width: 1200px) {
  .inner-book-txt h3 {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .inner-book-txt h3 {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .inner-book {
    background-size: contain;
    padding: 45px;
  }
  .inner-book img {
    width: 100px;
  }
  .inner-book-txt h3 {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .inner-book-txt {
    padding-bottom: 30px;
  }
  .inner-book-txt h3 {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .inner-book {
    padding: 35px;
  }
  .inner-book img {
    width: 80px;
  }
  .inner-book-txt {
    padding-bottom: 30px;
  }
  .inner-book-txt h3 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .inner-book-txt {
    padding-bottom: 30px;
  }
  .inner-book-txt h3 {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .inner-book-txt {
    padding-bottom: 30px;
  }
  .inner-book-txt h3 {
    font-size: 15px;
  }
}

/* -----------------------------  Facilities Section  ----------------------------- */
.facility-image p {
  font-family: "cinzel-regular";
  color: #663200;
  text-align: center;
  text-transform: lowercase;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 24px;
}
.facility-image img {
  border-radius: 10px;
}

@media (max-width: 1440px) {
  .facility-image p {
    font-size: 22px;
    margin-bottom: 25px;
  }
}
@media (max-width: 1200px) {
  .facility-image p {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .facility-image p {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .facility-image p {
    font-size: 20px;
    margin-bottom: 25px;
  }
}
@media (max-width: 575px) {
  .facility-image p {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
@media (max-width: 360px) {
  .facility-image p {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

/* -----------------------------  Donate Section  ----------------------------- */
.donate-image {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}
.donate-image img {
  border-radius: 10px;
}
.donate-image p {
  margin: 10px 0 10px 0;
}

/* -----------------------------  Events Section  ----------------------------- */
.events-inner {
  margin-bottom: 40px;
  text-align: center;
}
.events-inner img {
  border-radius: 10px;
  margin-bottom: 10px;
}
.events-inner p {
  margin: 0;
}
.arrow-1 {
  position: relative;
  top: -45px;
  float: inline-end;
  right: 5px;
}
#arrow {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.9s;
  overflow: hidden;
}
#arrow:before {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  top: 50%;
  right: 2px;
  transform-origin: 100% 0%;
  transform: rotateZ(45deg);
}
#arrow:after {
  position: absolute;
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  border-bottom: solid 2px #333;
  top: 1px;
  right: 1px;
  transform: translateX(-4px);
}
.events-inner a:hover #arrow:before {
  border-top: solid 2px #663200;
  border-right: solid 2px #663200;
}
.events-inner a:hover #arrow:before {
  animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}
.events-inner a:hover #arrow:after {
  border-bottom: solid 2px #663200;
}
.events-inner a:hover #arrow:after {
  animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

/* -----------------------------  Pooja Section  ----------------------------- */
.pooja-img {
  margin-bottom: 40px;
}
.pooja-img img {
  border-radius: 10px;
}
.pooja-img p {
  margin-top: 10px;
  margin-bottom: 5px;
}
.pooja-img button {
  font-family: "roboto-regular";
  border: 1px solid #663200;
  border-radius: 30px;
  padding: 3px 15px;
}
.pooja-img button:hover {
  background: #663200;
  color: #fff;
}
.pooja-img ul {
  position: absolute;
  text-align: center;
}
.pooja-img li {
  text-align: left;
}

@media (max-width: 575px) {
  .pooja-img {
    text-align: center;
  }
  .pooja-img img {
    margin: 0 auto;
    display: block;
  }
}

/* -----------------------------  Sevas Section  ----------------------------- */
.sevas-more {
  margin-bottom: 30px;
  width: fit-content;
}
.sevas-more button {
  border: 1px solid #663200;
  border-radius: 20px;
  padding: 0 12px;
  color: #663200;
}
.sevas-more button:hover {
  background: #663200;
  color: #fff;
}
.sevas-more .dropdown-menu a {
  border: 0;
  color: #333;
  font-size: 17px;
}
.sevas-more .dropdown-menu a:hover {
  color: #663200;
}

/* -----------------------------  Accordion Component  ----------------------------- */
.accordion {
  border: 0px solid transparent !important;
  --bs-border-color: transparent;
}
.accordion-item {
  border-bottom: 1px solid #663200;
  margin-bottom: 10px;
}
.accordion-item button {
  font-size: 20px;
  font-family: "roboto-regular";
  padding: 15px 10px;
}
.accordion-button:not(.collapsed) {
  color: #000;
  background-color: #e4d8cc;
  box-shadow: none;
}
.accordion-button:focus {
  box-shadow: none;
}

/* -----------------------------  Table Component  ----------------------------- */
.table thead th {
  background: #663200;
  color: #fff;
  font-size: 20px;
  font-family: "roboto-regular";
  font-weight: 100;
  padding: 5px 20px;
}
tbody {
  border-color: #fff;
}
.table-p p {
  text-align: center;
}
.bg-1 td {
  font-family: "roboto-light";
  background: #e4d8cc;
  font-size: 18px;
  padding: 8px 20px;
}
.bg-2 td {
  font-family: "roboto-light";
  background: #e4d8cc4d;
  font-size: 18px;
  padding: 8px 20px;
}

/* -----------------------------  NiceZoomIn Modal Component  ----------------------------- */
#niceZoomIn .modal-header {
  border: 0;
}
#niceZoomIn button {
  position: absolute;
  right: 0;
  border: 0;
  background: #663200;
  border-radius: 50%;
  padding: 0 7px;
  color: #fff;
  margin: 5px;
  top: 0;
}
#niceZoomIn span {
  font-size: 25px;
  top: -6px;
  display: block;
  position: relative;
  height: 30px;
}

/* -----------------------------  Checkout Row  ----------------------------- */
.checkout-row {
  padding: 200px 0 100px 0;
  width: 100%;
}

/* -----------------------------  Inner Pages Specific Common Layout Styles  ----------------------------- */
.inner-temple-text img,
.inner-temple-text h2 {
  text-align: center;
  margin: 10px auto;
  display: block;
}
.inner-temple-text a {
  color: #0d6efd;
}
.fading-3 {
  background: #663200;
  border-radius: 30px;
  padding: 4px 18px;
  color: #fff;
  text-decoration: none;
  font-family: "roboto-regular";
  font-size: 16px;
  display: inline-block;
}
.fading-3:hover {
  color: #663200;
  background: #dfd1c4;
  transition: 0.5s linear;
}

@media (max-width: 1440px) {
  .fading-3 {
    padding: 4px 16px;
    font-size: 15px;
  }
}
@media (max-width: 1200px) {
  .fading-3 {
    padding: 3px 14px;
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .fading-3 {
    padding: 3px 12px;
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .fading-3 {
    padding: 4px 16px;
    font-size: 15px;
  }
}
@media (max-width: 575px) {
  .fading-3 {
    padding: 3px 14px;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .fading-3 {
    padding: 3px 12px;
    font-size: 13px;
  }
}
@media (max-width: 360px) {
  .fading-3 {
    padding: 2px 10px;
    font-size: 12px;
  }
}
.daimond {
  list-style-type: none;
  padding: 0;
}
.daimond li::before {
  content: "\2666";
  color: #663200;
  padding-right: 0.5em;
  font-family: "open-sans-regular";
  letter-spacing: 0.02em;
}
.location-text {
  padding: 0 50px;
}
.location-inner {
  padding-bottom: 50px;
}
.sacred-image {
  padding: 0 5px;
}
.sacred-image img {
  width: 100%;
  margin: 2px 0;
}
.address,
.form {
  margin-top: 20px;
}